<div class="container">
	<div class="row">
		<div class="col-lg-3 ltab"></div>
		<div class="col-lg-6 signin">
			<div class="row">
				<div class="col-lg-3 ltab"></div>
				<div class="col-lg-6 col-xs-12 reg-head">
					<span class="glyphicon glyphicon-globe globe"></span> Sign Up
				</div>
				<div class="col-lg-3 rtab"></div>
			</div>
			<div class="row">
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="row reg-box reg-mob">
				  <div class="col-lg-2 col-xs-1"></div>
				  <div class="col-lg-8 col-xs-10 reg-input">
				 	  <span class="glyphicon glyphicon-envelope ricon"></span>
				  	<span><%= f.email_field :email, :autofocus => true,:placeholder=>"Enter Email id" %></span>
				  </div>
				  <div class="col-lg-2 rtab"></div>
				 </div>

				  <div class="row reg-box">
				  <div class="col-lg-2 col-xs-1"></div>	
				  <div class="col-lg-8 col-xs-10 reg-input">
					  <span class="glyphicon glyphicon-qrcode ricon"></span>
					  <%= f.password_field :password,:placeholder=>"Enter Password" %>
					</div>
				  <div class="col-lg-2 rtab"></div>
			  </div>
			  <div class="row reg-box">
				  <div class="col-lg-2 col-xs-1"></div>	
				  <div class="col-lg-8 col-xs-10 reg-input">
					  <span class="glyphicon glyphicon-qrcode ricon"></span>
					  <%= f.password_field :password_confirmation,:placeholder=>"Re-enter Password" %>
					</div>
				  <div class="col-lg-2 rtab"></div>
			  </div>
			  <div class="row reg-foot">
			  	<div class="col-lg-6"></div>
			  	<div class="col-lg-4">
			  	<div><%= f.submit "Sign up", :class=>"btn btn-default sign-button" %></div>
					<% end %>
					
					<div class="shared-links"><%= render "devise/shared/links" %></div>
			  	</div>
			  	<div class="col-lg-2"></div>
			  </div>
				</div>
		</div>
		<div class="col-lg-3 rtab"></div>
	</div>
</div>