<head>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDaTtn3EcvhTBM2dizzb64EQGE4V1-IrkM&sensor=false&libraries=places">
	</script>
</head>
<%if current_user%>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-8"><span class="glyphicon glyphicon-map-marker logo"></span></div>
				<div class="col-lg-3 text-right">Welcome <i><%=current_user.email%></i></div>
				<div class="col-lg-1"><a href="/users/sign_out" data-method="delete">Logout</a></div>	
			</div>
		</div>
	</div>
	<div class="content">
	<div class='container'>
		<div class="row">
			<div class="col-lg-6"></div>
			<div class="col-lg-4">
				<form action='/create' method="POST">
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 
					<span class="glyphicon glyphicon-map-marker searchicon"></span>
					<input type="text" id="address" name="address" class="searchbox">
					<button class="search" onclick="submit();">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</form>
		</div>
		<div class="col-lg-2"></div>
		</div>
		</div>
	</div>
	
	<% @loc=Location.where(:user_id=>current_user.id).last(1) %>
	<% @loc.each do |location| %>
		<%= location.address %><br/>
		<input type="text" hidden="true" value="<%= location.latitude %>" id="lat">
		<input type="text" hidden="true" value="<%= location.longitude %>" id="lon">
		<div id="googleMap" class='img-responsive' style="width:600px;height:480px;"></div>
		<script>

			function initialize()
			{
				var myPos= new google.maps.LatLng($('#lat').val(),$('#lon').val());
				var mapProp = {
				  center:myPos,
				  zoom:16,
				  mapTypeControl:true,
			    mapTypeControlOptions: {
			      style:google.maps.MapTypeControlStyle.DROPDOWN_MENU
			    },
				  mapTypeId:google.maps.MapTypeId.HYBRID
			  };
				var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
				var input = (document.getElementById('address'));

				var autocomplete = new google.maps.places.Autocomplete(input);
				autocomplete.bindTo('bounds', map);
				var marker = new google.maps.Marker({
			      position: myPos,
			      map: map,
			      title: '<%= location.address %>'
			  });
			}
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	<br/>
	<div id="nearby">
		<h3>Nearby locations</h3>
		<ul>
			<% for loc in location.nearbys(10) %>
			  <li><%= loc.address %> (<%= loc.distance.round(2)%> miles)</li>
			<% end %>
		</ul>
	</div>
	<br/>
	<br/>
	<% end %>
<%else%>
<div class="container">
	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<div class="row signin">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<div class="row text-center">
						<a href="/users/sign_in" class="btn btn-default login-button">Login</a>
					</div>
					<div class="row text-center">
						<a href="/users/sign_up" class="btn btn-default register-button">Register</a>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
		</div>
		<div class="col-lg-4"></div>
	</div>
</div>
<%end%>